#homepage-container {
    background: black;
    height: 750px;
}

.mini-description {
    color: white;
    text-align: center;
    font-size: 16px;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    font-family: "-webkit-pictograph";
    font-weight: 600;
}

.cid-syqDQvUSvi .scroll-wrapper {
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    background-repeat: repeat;
    z-index: 0;
    -webkit-animation-duration: 60s;
    background-image: url("../images/olive.jpg");
    -webkit-animation: fadeIn 0.2s, scroll-wrapper linear infinite;
    -moz-animation: fadeIn 0.2s, scroll-wrapper linear infinite;
    -o-animation: fadeIn 0.2s, scroll-wrapper linear infinite;
    animation: fadeIn 0.2s, scroll-wrapper linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.cid-syqDQvUSvi .scroll-wrapper.second {
    left: calc(100% - 1px);
}
.cid-syqDQvUSvi .mbr-overlay {
    z-index: 1;
}
.cid-syqDQvUSvi .block-content {
    z-index: 2;
}
@keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@-webkit-keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@-moz-keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@-o-keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    10% {opacity:1;}
  }

.description {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
}

.mbr-section-title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 6rem;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0;
}

.mbr-text {
    color: white;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Signature of the Ancient', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
}

.discover-more-link {
    color: white;
    border: 2px solid white;
    display: inline-flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    padding: 10px 26px;
    background: transparent;
    text-align: center;
    outline: none;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    font-weight: 500;
    z-index: 999;
    text-decoration: none;
    transition: 0.3s;
}

.discover-more-link:focus {
    box-shadow: 0 0 0 3px rgb(25 103 210 / 15%);
    outline: none;
}

.discover-more-link:hover {
    border: none;
    box-shadow: 0 0 0 3px rgb(25 103 210 / 15%);
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    background: #ffbc00;
    color: white;
    outline: 0;
    font-weight: 600;
}

#discover-more-carousel {
    color: white;
    background-color: #1f1d1b;
    border: 2px solid white;
    padding: 12px 28px;
}

#discover-more-carousel:hover {
    color: white;
    background: #ffbc00;
    border: 2px solid white;
}

#carousel-container {
    margin-bottom: 100px;
}

.carousel-title {
    text-align: center;
    width: 55%;
    font-size: 32px;
    margin: 80px auto 60px;
    padding: 10px;
    font-family: "Caudex", serif;
    line-height: 1.33em;
    font-weight: 400;
    color: #2c3136;
}

.carousel-grid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.carousel-image {
    width: 300px;
    height: 300px;
    box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 40%), 0 2px 8px 0 rgb(0 0 0 / 19%);
}

.land {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 65px;
    width: 80%;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #eee #eee #d5d5d5 #eee;
    box-shadow: 0 5px 0 rgb(200 200 200 / 20%);
}

.land-about {
    text-align: right;
}

.land-about-2 {
    grid-row-start: 1;
    text-align: left;
}

.land-title {
    font-family: "Caudex", serif;
    font-size: 42px;
    line-height: 1.33em;
    font-weight: 400;
    color: #7f6459;
}

.image-land {
    width: 75%;
    height: auto;
    box-shadow: 4px 6px 8px 4px rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.land-paragraph {
    font-size: 14px;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .description {
        top: 15%;
    }
    .mini-description {
        display: none;
    }
    .mbr-section-title {
        font-size: 5rem;
    }
    .scroll-wrapper {
        border: 1px solid black;
    }
    #homepage-container {
        height: 650px;
    }
    #discover-more-link {
        font-size: 14px;
    }
    #newsletter-form {
        margin-bottom: 16px;
        width: 240px!important;
    }
}