#footer-container {
    padding: 20px;
    text-align: center;
    background: #252932;
}

#newsletter-container {
    padding: 20px 0;
}

#newsletter-title {
    color: whitesmoke;
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 20px;
}

#newsletter-subtitle {
    color: #416163;
    text-transform: uppercase;
    font-size: 32px;
}

#newsletter {
    margin: 20px 0;
}

#newsletter-form {
    background: #FFFFFF;
    width: 425px;
    display: inline;
    color: #a7a7a7;
    border: 1px solid #e9e7e7;
    font-size: 14px;
    margin-right: 0px;
    padding: 16px 20px;
    border-radius: 999px;
}

#newsletter-form:focus {
    outline: none;
}

#newsletter-subscribe {
    filter: none;
    overflow: hidden;
    padding: 18px 28px;
    cursor: pointer;
    font-weight: 500;
    border: none;
    background: #ed6663;
    border-radius: 999px;
}

#newsletter-subscribe:hover {
    background: #cf4e4c;
    color: white;
}

.footer-section {
    text-align: left;
    padding: 5px;
    margin-right: 120px;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: thistle;
}

#rule {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin-top: 32px;
    margin-bottom: 32px;
}

#footer-box {
    display: flex;
    padding: 20px 0;
}

.footer-elem {
    padding: 5px;
}

.footer-link {
    color: #b7bcc8;
}

.footer-link:hover {
    color: #416163;
}

#footer-end {
    display: flex;
    background: #1b1e24;
    justify-content: space-evenly;
    color: #b7bcc8;
    padding: 32px 0;
}

.footer-end-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-paragr {
    font-size: 12px;
}

.no-link {
    text-decoration: none;
    color: #b7bcc8;
    font-size: 16px;
}
