#homepage-container {
    background: black;
    height: 750px;
}

.mini-description {
    color: white;
    text-align: center;
    font-size: 16px;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    font-family: "-webkit-pictograph";
    font-weight: 500;
}

.cid-syqDQvUSvi .scroll-wrapper {
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    background-repeat: repeat;
    z-index: 0;
    -webkit-animation-duration: 60s;
    background-image: url("/olive.jpg");
    -webkit-animation: scroll-wrapper linear infinite;
    -moz-animation: scroll-wrapper linear infinite;
    -o-animation: scroll-wrapper linear infinite;
    animation: scroll-wrapper linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.cid-syqDQvUSvi .scroll-wrapper.second {
    left: calc(100% - 1px);
}
.cid-syqDQvUSvi .mbr-overlay {
    z-index: 1;
}
.cid-syqDQvUSvi .block-content {
    z-index: 2;
}
@keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@-webkit-keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@-moz-keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
@-o-keyframes scroll-wrapper {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

.description {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 25%;
}

.mbr-section-title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 6rem;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0;
}

.mbr-text {
    color: white;
    letter-spacing: 5px;
    font-weight: 100;
    font-family: 'Signature of the Ancient', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
}

#discover-more-link {
    color: white;
    border: 2px solid white;
    display: inline-flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    padding: 8px 24px;
    background: transparent;
    text-align: center;
    outline: none;
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    font-weight: 500;
    z-index: 999;
    text-decoration: none;
    transition: 0.3s;
}

#discover-more-link:focus {
    box-shadow: 0 0 0 3px rgb(25 103 210 / 15%);
    outline: none;
}

#discover-more-link:hover {
    border: none;
    box-shadow: 0 0 0 3px rgb(25 103 210 / 15%);
    font-family: "Google Sans","Roboto","Arial",sans-serif;
    background: #ffbc00;
    color: white;
    outline: 0;
    font-weight: 600;
}

@media screen and (max-width: 700px) {
    .description {
        top: 15%;
    }
    .mini-description {
        display: none;
    }
    .mbr-section-title {
        font-size: 5rem;
    }
    .scroll-wrapper {
        border: 1px solid black;
    }
    #homepage-container {
        height: 650px;
    }
    #discover-more-link {
        font-size: 14px;
    }
    #newsletter-form {
        margin-bottom: 16px;
        width: 240px!important;
    }
}